<div class="page centered">
	<p class="badge centered" (click)="init(this)">Halls of Infinity</p>
	<div class="menuBar">
			<li class="menuBarItem"><a class="plainText" href="">Home</a></li>
			<li class="menuBarItem"><a class="plainText" href="BallsOfInfinity">Halls of Infinity</a></li>
			<li class="menuBarItem"><a class="plainText" href="Story">Story</a></li>
			<li class="menuBarItem"><a class="plainText" href="generate">Generator</a></li>
	</div>

	<p class="white-text">Try your luck and generate your own random image!</p>

	<div>
		<img class="no-float" src="{{randomImageUrl}}"/>
	</div>
	<button (click)="regenerateRandomImage()" class="no-float">Generate</button>

	<p class="white-text">Getting impatient? Download a bunch of 'em"</p>
	<div>
		<input #numDownload type="text" placeholder="How many?"/>
	</div>
	<button (click)="downloadXImages()">Download</button>

</div>
