.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(images/shared/stars.jpg);
}

.white-text {
	color: white;
}

.centered {
	text-align: center;
}

.no-float {
	float: none;
}

.badge {
	color: white;
	display: block;
	font-size: 45px;	
	font-family: 'Voltaire', sans-serif;
	text-decoration: underline;
	margin: 30px 0 15px 0;
	padding: 0 0;
}

.menuBar {
	border-bottom: 3px blue solid;
	color: blue;
	display: inline-block;
}

.menuBarItem {
	float: left;
	display: block;
	font-size: 24px;
	padding: 2px 24px 2px 24px;

}

.plainText {
	text-decoration: none;
}