.white-text {
	color: white;
}

.gridImage {
	float: none;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(images/shared/stars.jpg);
}

.badge {
	color: white;
	display: block;
	font-size: 45px;	
	font-family: 'Voltaire', sans-serif;
	text-decoration: underline;
	margin: 30px 0 15px 0;
	padding: 0 0;
}

.centered {
	text-align: center;

}

.menuBar {
	border-bottom: 3px blue solid;
	color: blue;
	display: inline-block;
}

.plainText {
	text-decoration: none;
}

.small {
	width: 64px;
	height: 64px;
}

.menuBarItem {
	float: left;
	display: block;
	font-size: 24px;
	padding: 2px 24px 2px 24px;

}

.ball {
	position: absolute;
	top: 23px;
	left: 12px;
	
	border: 2px solid black;
	border-radius: 50%;
}

.border {
	border: 2px solid red;
	border-radius: 50%;
}

.absolutePositioning {
  position: absolute;
}

