	<div class="page centered">
	<p class="badge centered" (click)="init(this)">Halls of Infinity</p>
	<div class="menuBar">
			<li class="menuBarItem"><a class="plainText" href="">Home</a></li>
			<li class="menuBarItem"><a class="plainText" href="BallsOfInfinity">Halls of Infinity</a></li>
			<li class="menuBarItem"><a class="plainText" href="Story">Story</a></li>
			<li class="menuBarItem"><a class="plainText" (click)="goToGeneratePage()">Generator</a></li>
	</div>



	<p class="white-text">
		A simple grid - doesn't look like much, does it.
		But it is - It has the potential to be any object in the universe.
		Let me explain.
	</p>

<img class="gridImage" src="../../assets/images/splash-page/{{fileLocation}}"/>

	<p class="white-text">
		Each point in that grid is representable by a color combination of the red, green and blue color channels.
		Each color channel is in turn represented by a number between 0 and 255.
		The number of combinations of these channels alone available alone is 256 * 256 * 256, which is 16,777,216.
	</p>

	<img class="gridImage" src="../../assets/images/splash-page/equation.png"/>

	<p class="white-text">
		And this is just in one cell.
	</p>

	<p class="white-text">
		When you apply this to the grid as a whole, which is 256 x 256, what you end up with 
		is the potential for (256*256)^16,777,216 point combinations, which is an unimaginable number.
		This number is greater than the number of atoms available in the universe.
		The amount of time it would take to create this many images would be significantly
		higher than the amount of time the universe has currently existed.
	</p>
	
	<p class="white-text">
		...And yet if you did manage to do this, you would have every single possible 256x256 image.
		The possibilities are boundless - This would undoubtedly include a picture of you, a picture
		of your family, a picture of all of your ancestors, even your predecessors whom haven't even been born yet.
		This set includes part of every scene in your entire life, even the ones that don't happen.
		You sitting on your computer reading this page would occur - along with every variation of it.
		A picture of you sitting in front of your computer with a different hairstyle, one where the colors are wrong,
		a table turned upside down, someone sitting next to you --- and everything in between.
		A picture of the land life first rising from the ocean, man's first rise above the apes,
		the first hunter-gatherer societies. The rise of Byzantium, the fall of Rome, the signing of the Declaration of Independence.
		Blueprints for futuristic technologies we haven't created, snippets of blueprints from every technology in existence today, those from technologies that may never exist.
		Quotes from every novel ever written, ever speech ever spoke, every contract ever signed, every text message ever sent.
	</p>

	<table align="center">
		<tr>
			<td><img src="../../assets/images/splash-page/declarationofindependence.png"/></td>
			<td><img src="../../assets/images/splash-page/greatwallofchina.png"/></td>
			<td><img src="../../assets/images/splash-page/timesquare.png"/></td>
		</tr>
		<tr>
			<td><img src="../../assets/images/splash-page/fantasy.png"/></td>
			<td><img src="../../assets/images/splash-page/mars.png"/></td>
			<td><img src="../../assets/images/splash-page/mc2.png"/></td>
		</tr>
	</table>

	<p class="white-text">
		The Halls of Infinity is for those who seek to harness this power and "see what/who/when you get".
		There are links available to generate your own set of random images from a 256x256 grid and see for yourself what you can get.
		If you don't like such an active approach, there are a multitude of games that have been created that involve
		elements generated from the "Halls of Infinity" engine.
	</p>

	<p class="white-text">
		And now comes the dark part, which you will soon find out - There are countless possibilities - Too many possibilities.
		When generating random images, the chances of encountering anything meaningful are marginal at best.
		Chances are what you will see will be a new variation of static that the world has never seen before.
		To us, it looks like the random mess you would encounter on an old TV set set to an invalid channel.
		Stil, I must emphasize that each of these is unique - The chances of running into the same image twice on the "Halls of Infinity" are -
		well, you already know (1 / (256*256)^16,777,216).
	</p>

	<!--	<random-orb *ngFor="let orb of orbs" class="border"></random-orb> -->
	

</div>
